.inputContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input {
    margin-left: 10px;
    padding: 5px;
}

select {
    padding: 5px;
    margin: 5px;
    display: block;
}

#kinobilettskjema {
    margin-top: 10px;
}

button {
    padding: 10px 15px; /* Juster polstring for ønsket størrelse */
    font-size: 20px; /* Juster fontstørrelsen etter behov */
    margin-top: 10px; /* Juster toppmargen etter behov */
    width: 200px;
}